/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-mar-2018, 10.07.02
    Author     : mattia.musone
*/

#done {
    position: relative;
    padding: 8px 8px;
    border-radius: 8px;
    background: #009688;
    font-weight: 900;
    color: #eee;
    cursor: pointer;
}